.z_form{
	
	font-size: 12px;
	text-transform: capitalize;
	color: #000;
}
.z_form input{
		margin-top:10px;
}
.z_form fieldset{
	
	clear: both;
	padding: 2px;
	margin: 5px;
	margin-right:30px;
	background: #F2F6FA;
	border: 1px solid #C4D3EA;
}
.z_form legend{

	margin: 0 0;
	padding: 10px;
	font-weight: bold;
	font-size: 14px;
	text-transform: capitalize;
	color: #000;
}
.field_group{
	
	margin: 8px;
	color: #314C70
}
.field_title{

	float: left;
	width: 120px;
	margin-top: 9px;
	margin-left:30px;
	text-align: center;
	font-size: 14px;
	color: #555;
}
.field_text{

	border:1px solid #bdbcbc;
	background-color: white;
	color: #666;
	margin-left: 15px;
	padding: 5px;
	display: inline-block;
	border-radius:2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	vertical-align: middle;
	width:300px;
}










	