<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>CDU</display-name>
  <!-- 设置读取Spring ApplicationContext-->
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/applicationContext.xml</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.messpush.servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Log4jInit</servlet-name>
    <servlet-class>com.messpush.servlet.Log4jInit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Log4jInit</servlet-name>
    <url-pattern>/Log4jInit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SaveMessage</servlet-name>
    <servlet-class>com.messpush.servlet.SaveMessage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveMessage</servlet-name>
    <url-pattern>/SaveMessage</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>webAppRoot</param-name>
    <param-value>myWebapp-instance-root</param-value>
  </context-param>
  <error-page>
    <error-code>404</error-code>
    <location>/404.html</location>
  </error-page>
  <filter>
    <filter-name>MainFilter</filter-name>
    <filter-class>com.messpush.filter.MainFilter</filter-class>
    <init-param>
      <param-name>notCheckURLList</param-name>
      <param-value>/login.html,/error.html,/404.html,/*/404.html,/client/index.html</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>MainFilter</filter-name>
    <url-pattern>*.html</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>Log4jFilter</filter-name>
    <filter-class>com.messpush.filter.Log4jFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Log4jFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>